@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0px;
}

/*CSS for the header part*/

.header-div {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: 9vh;
  grid-gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #001f3f;
  color: white;
  font-family: 'Roboto', sans-serif;
}


.header-div a {
  text-decoration: none;
  color: white;
}

.header-div a:hover {
  color: #c1c7c9;
}

.header-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 180px;
  text-decoration: overline;
}


/*CSS for the main part*/

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 38vh);
  margin: 35px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  text-align: center;
  grid-gap: 35px;
  font-family: 'Roboto', sans-serif;
  grid-template-areas:
  "first first second"
  "first first second"
  "third third third"
  "third third third"
}

.main-div {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-div a {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.main-div a:hover {
  color: #555f61;
}

#image2 {
  width: 200px;
}

#image3 {
  height: 300px;
}

#image4 {
  height: 300px;
}

#button {
  padding: 15px;
  border: 2px solid white;
  background-color: #001f3f;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: background-color 600ms;
}

#button:hover {
  background-color: #0f5298;
}

#first {
  grid-area: first;
  padding: 35px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

#first:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}

#second {
  grid-area: second;
  padding: 35px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

#second:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}

#third {
  grid-area: third;
  display: grid;
  padding-top: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 35px;
}

.third-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 590.825px;
  padding: 17.5px;
  padding-bottom: 0px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

.third-div:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}


/*CSS for the footer part*/
.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  padding-bottom: 5px;
  border: 1px solid #f2f3f4;
}

.footer-div a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.footer-link {
  padding-left: 30px;
  padding-right: 30px;
}

#link1 a:hover {
  color: #28589c;
}

#link2 a:hover {
  color: #fec564;
}

#link3 a:hover {
  color: #28589c;
}
