
.main-div {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-div a {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.main-div a:hover {
  color: #555f61;
}

#image2 {
  width: 200px;
  border: 2px solid white;
}

#image3 {
  width: 75%;
  margin-bottom: 3px;
}

#image4 {
  width: 80%;
  margin-bottom: 3px;
}

.figcaption {
  font-style: italic;
}

#button {
  padding: 15px;
  border: none;
  background-color: #001f3f;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: background-color 600ms;
}

#button:hover {
  background-color: #0f5298;
}

#first {
  grid-area: first;
  padding: 35px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

#first:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}

#second {
  grid-area: second;
  padding: 35px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

#second:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}

.third-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 590.825px;
  padding: 17.5px;
  padding-bottom: 0px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1000ms;
  background-color: #fffafa;
}

.third-div:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}
